.what-we-do {
  padding-top: 94px;
  padding-bottom: 94px;
}

.what-we-do__title {
  margin-bottom: 50px;
}

.what-we-do__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.what-we-do__list-item {
  position: relative;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.what-we-do__list-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 27px 0 28px 0;
  text-align: center;
  background: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-title-text-color);
}
