:root {
  --accent-color: #2196f3;
  --page-main-color: #2f303a;
  --page-secondary-color: #f5f4fa;
  --page-navigation-text-color: #212121;
  --main-title-text-color: #ffffff;
  --description-text-color: #757575;
  --footer-color: #2f303a;
  --section-title: #212121;
  --poster-title: #212121;
  --navigation-link: #757575;
  --our-team-poster-description-background-color: #ffffff;
  --footer-accent-color: #ffffff;
  --footer-social-list-link-bg: rgba(255, 255, 255, 0.1);
  --icon-color: #afb1b8;
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --modal-close-btn-border: rgba(0, 0, 0, 0.1);
}
